* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #373737;
  background-color: #f3f0ed;

}


/* Menu */
.line {
  width: 42px;
  height: 2px;
  background-color: #373737;
}

a {
  text-decoration: none;
  color: #373737;
}

/* progressbar */

.progressBox {
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  opacity: 0.7;
  background: gainsboro;
}
.progressBox.filled {
  background: #373737;
  transition: background 0ms 300ms;
}

/* Buttons */

button {
  border: 1px solid #373737;
  background: #c2d1ce;
  padding: 1rem;
  color: #373737;
  box-shadow: none;
  font-weight: bold;
  font-size: 18px;
}
